<section class="students-page">
	<div class="actions">
		<button (click)="create()">Create student</button>
	</div>

  <app-list [headers]="['SN','Student name','Student role']" [fields]="['$index','name','rollNumber']" [rows]="(students$ | async) || []">
    <ng-template #actions let-row let-i="index">
      <button (click)="edit(row)">Update</button>
      <button (click)="delete(row.id)">Delete</button>
    </ng-template>
  </app-list>
</section>

<app-modal [visible]="editing" title="Edit student" (close)="closeModal()">
  <app-simple-form [model]="{ name: editModel?.name || '', extra: editModel?.rollNumber || '' }" extraLabel="Roll" submitLabel="Update"
    (save)="onFormSave($event)" (cancel)="closeModal()"></app-simple-form>
</app-modal>


